$sidebar-width: 200px;
$selection-foreground-color: #800;
$section-background: #888;
$explanation-background: #AAF;
$exercise-pass-background:  #AFA;
$exercise-fail-background: #FAA;
$exercise-unknown-background: #AAA;


#root {
  max-width: 1280px;
  margin: 0 auto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

p {
  text-align: justify;
}

p code {
  background: rgba(50, 50, 50, 0.5);
  padding: 2px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;;
}

#sidebar {
  height: 100%;
  width: $sidebar-width;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  user-select: none;
  cursor: pointer;

  .navigation-button-container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .navigation {
      margin: 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background: #AAA;
      color: black;
      border-radius: 25px;

      svg {
        transform: scale(2);
      }

      &:hover {
        background: #FFF;
      }

      &.next {

      }

      &.previous {

      }

      &.up {

      }
    }
  }
}

#main-view-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-left: $sidebar-width;

  #main-view {
    width: 100%;
    height: 100vh;
    max-width: 800px;
    padding: 0.5em;

    & > h1 {
      margin: 0;
      background: #000;
      padding: 0.25em;
    }
  }
}

.overview-root-container {
  a {
    text-decoration: none;
    color: black;
  }

  .overview-entry {
    & > .overview-entry-header {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: stretch;
      margin: 0;
      text-align: center;
    }

    a {
      font-weight: 100;
      font-size: 1rem;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      & > .overview-entry-header-symbol {
        position: absolute;
        right: 0;
        padding: 0.2em;
        opacity: 75%;
      }
    }

    &.selected {
      & > .overview-entry-header {
        & > a {
          color: $selection-foreground-color;
          font-weight: 600;
        }
      }
    }

    &.section {
      border-left: #44a 4px solid;
      margin: 2px 0 0 4px;
      background: $section-background;

      & > .overview-entry-header {
        margin: 0;

        &:hover {
          background-color: $section-background * 1.33;
        }
      }

      & .section-children {
        overflow: hidden;
      }

      &.expanded {
        & > .section-children {
          display: block;
        }
      }

      &.collapsed {
        & > .section-children {
          display: none;
        }
      }
    }

    &.explanation {
      background: $explanation-background;

      &:hover {
        background: $explanation-background * 1.33;
      }
    }

    &.exercise {
      &.pass {
        background: $exercise-pass-background;

        &:hover {
          background: $exercise-pass-background * 1.33;
        }
      }

      &.fail {
        background: $exercise-fail-background;

        &:hover {
          background: $exercise-fail-background * 1.33;
        }
      }

      &.unknown {
        background: $exercise-unknown-background;

        &:hover {
          background: $exercise-unknown-background * 1.33;
        }
      }
    }
  }
}

.admonition {
  border-radius: 10px;
  padding: 0.75em 1em;
  width: 80%;
  margin: 1em auto;

  .admonition-header > h1 {
    user-select: none;
    cursor: default;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    & .admonition-symbol {
      margin-right: 0.5em;
      transform: scale(1.5);

      g {
        stroke: white;
        fill: white;
      }
    }
  }

  &.warning {
    background: #F44;
  }

  &.hint {
    background: mediumpurple;
  }

  &.video {
    background: darkslategray;
  }

  &.question {
    background: peru;
  }

  &.task {
    background: royalblue;
  }

  &.info {
    background: darkgreen;
  }
}

.usage {
  position: relative;
  background: black;
  width: 75%;
  margin: 1em auto;

  & > header {
    position: absolute;
    padding: 0.25em 0.5em;
    right: 0;

    & > h1 {
      margin: 0;
      font-size: 0.75rem;
      text-align: right;
      font-weight: 200;
      opacity: 50%;
    }
  }
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  padding: 3px 5px;
  background: #000;
  color: #f8f8f8;

  .hljs-comment,.hljs-meta,.hljs-quote {
    color: #7c7c7c;
  }

  .hljs-keyword,.hljs-name,.hljs-selector-tag,.hljs-tag {
    color: #96cbfe;
  }

  .hljs-attribute,.hljs-selector-id {
    color: #ffffb6;
  }

  .hljs-addition,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-string {
    color: #a8ff60;
  }

  .hljs-subst {
    color: #daefa3;
  }

  .hljs-link,.hljs-regexp {
    color: #e9c062;
  }

  .hljs-doctag,.hljs-section,.hljs-title,.hljs-type {
    color: #ffffb6;
  }

  .hljs-bullet,.hljs-literal,.hljs-symbol,.hljs-template-variable,.hljs-variable {
    color: #c6c5fe;
  }

  .hljs-deletion,.hljs-number {
    color: #ff73fd;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: 700;
  }
}

#main-view {
  .viewer {
    &.section {
      a {
        color: black;
        text-decoration: none;
        user-select: none;
      }

      .tile-container {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: start;
        align-items: center;

        .tile {
          width: 150px;
          height: 150px;
          margin: 2px;
          position: relative;
          color: black;
          padding: 5px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .symbol {
            svg {
              width: 80%;
              height: 80%;
            }

            .difficulty {
              font-size: 5em;
            }

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 150px;
            height: 150px;
            transform-origin: center;
            opacity: 12.5%;
            user-select: none;
            pointer-events: none;
          }

          .caption-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .caption {
              font-size: 1.2rem;
              text-align: center;
            }
          }

          &.section {
            background-color: $section-background;

            &:hover {
              background-color: $section-background * 1.33;
            }
          }

          &.exercise {
            &.pass {
              background-color: $exercise-pass-background;

              &:hover {
                background-color: $exercise-pass-background * 1.33;
              }
            }

            &.fail {
              background-color: $exercise-fail-background;

              &:hover {
                background-color: $exercise-fail-background * 1.33;
              }
            }

            &.unknown {
              background-color: $exercise-unknown-background;

              &:hover {
                background-color: $exercise-unknown-background * 1.33;
              }
            }
          }

          &.explanation {
            background-color: $explanation-background;

            &:hover {
              background-color: $explanation-background * 1.33;
            }
          }
        }
      }
    }

    &.explanation {

    }

    &.exercise {
      & > h1, h2, h3, h4 {
        background: black;
        text-align: center;
        border-radius: 2px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5em;
        width: 90%;

        &:not(:first-child) {
          margin-top: 2em;
        }
      }
    }
  }
}